
<div class="container" style="width:1200px">
 
 <h4>Welcome to your dashboard : {{user.name}}</h4> 
 <div class="row">
<div class="col-md-offset-1 col-md-5" style="box-shadow: 10px 10px 8px #888888;border:1px #1e90ff solid" >
<h3 >Deep Learning</h3>
<p>In this program, you’ll cover topics like Keras and TensorFlow, convolutional and recurrent networks, deep reinforcement learning, and GANs. You'll learn from authorities such as Sebastian Thrun, Ian Goodfellow, and Andrew Trask, and enjoy access to Experts-in-Residence from OpenAI, GoogleBrain, DeepMind, and more.
</p></div> 
<div class="col-md-5" style="box-shadow: 10px 10px 8px #888888;border:1px #1e90ff solid;margin-left:10px">
<h3>Data Analyst</h3>
<p>In this program, you’ll cover topics like Keras and TensorFlow, convolutional and recurrent networks, deep reinforcement learning, and GANs. You'll learn from authorities such as Sebastian Thrun, Ian Goodfellow, and Andrew Trask, and enjoy access to Experts-in-Residence from OpenAI, GoogleBrain, DeepMind, and more.
</p></div> 
 </div>
  <div class="row">
<div class="col-md-offset-1 col-md-5" style="box-shadow: 10px 10px 8px #888888;border:1px #1e90ff solid" >
<h3 >Deep Learning</h3>
<p>In this program, you’ll cover topics like Keras and TensorFlow, convolutional and recurrent networks, deep reinforcement learning, and GANs. You'll learn from authorities such as Sebastian Thrun, Ian Goodfellow, and Andrew Trask, and enjoy access to Experts-in-Residence from OpenAI, GoogleBrain, DeepMind, and more.
</p></div> 
<div class="col-md-5" style="box-shadow: 10px 10px 8px #888888;border:1px #1e90ff solid;margin-left:10px">
<h3>Data Analyst</h3>
<p>In this program, you’ll cover topics like Keras and TensorFlow, convolutional and recurrent networks, deep reinforcement learning, and GANs. You'll learn from authorities such as Sebastian Thrun, Ian Goodfellow, and Andrew Trask, and enjoy access to Experts-in-Residence from OpenAI, GoogleBrain, DeepMind, and more.
</p></div> 
 </div>
 <div class="row">
<div class="col-md-offset-1 col-md-5" style="box-shadow: 10px 10px 8px #888888;border:1px #1e90ff solid" >
<h3 >Deep Learning</h3>
<p>In this program, you’ll cover topics like Keras and TensorFlow, convolutional and recurrent networks, deep reinforcement learning, and GANs. You'll learn from authorities such as Sebastian Thrun, Ian Goodfellow, and Andrew Trask, and enjoy access to Experts-in-Residence from OpenAI, GoogleBrain, DeepMind, and more.
</p></div> 
<div class="col-md-5" style="box-shadow: 10px 10px 8px #888888;border:1px #1e90ff solid;margin-left:10px">
<h3>Data Analyst</h3>
<p>In this program, you’ll cover topics like Keras and TensorFlow, convolutional and recurrent networks, deep reinforcement learning, and GANs. You'll learn from authorities such as Sebastian Thrun, Ian Goodfellow, and Andrew Trask, and enjoy access to Experts-in-Residence from OpenAI, GoogleBrain, DeepMind, and more.
</p></div> 
 </div>
 </div>
 